body{
    background-color: #ccc;
}

#show_button{
    display: inlineblock;
    margin: 0.5%;
    margin-left: 33%;
    color: #165e6d;
    float: left;
}

#left_arrow{
    display: block;
    margin-top: 0.5%;
    margin-left:0.5%;
    color: #165e6d;
    float: left;
}
#right_arrow{
    display: block;
    margin-top: 0.5%;
    margin-right:0.5%;
    color: #165e6d;
    float: right;
}
.button{
    display: block;
    margin: 0 auto;
    color: #165e6d;
}

#container
{
    position: relative;
    margin: auto;
    top: 30px;
    height: 360px;
    width: 640px;
    /* border: solid blue 2px; */
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:3;
    /*visibility: hidden;*/
}


#viewport
{
    /*
    height: 100%;
    width: 100%;*/
    background-color: #838383;
    /*border: 2px solid green;*/
    z-index : 2;
}

/*Plotly CSS 
Put over canvas 
*/
.svg-container{
    z-index: 5;
}

#results
{
    
    height: 100%;
    width: 100%;
    background-color: #838383;
    /*border: 2px solid green;*/
    z-index : 5; 
}

#controls
{
    position:absolute;
    bottom:-15%;
    left: 0px;
    width: 100%;
    height:10%;
    max-height: 10%;
    overflow: hidden; 
    z-index:30;
    /*border: 2px solid blue;*/
    background-color: #165e6d;
}