body{
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

#container
{
    display: table;
    position: absolute; 
    height: 100%;
    width: 100%;
    z-index: 1;
}

#centered{
    display: table-cell;
    vertical-align: middle; 
}

canvas {
    margin:0 auto; 
    z-index:3;
    /*visibility: hidden;*/
}


.viewport, #viewport{
    position: relative; 
    margin: 0 auto; 
    max-height: 500px; 
    max-width: 728px;
    background-color: #838383;
    z-index : 2;
}

#content{
    position: relative; 
    margin: 0 auto; 
    max-height: 500px; 
    max-width: 728px;
    background-color: #838383;
    z-index : 2;
}

/*Plotly CSS 
Put over canvas 
*/
.svg-container{
    z-index: 5;
}


#results
{
    position: absolute;
    top: 0px;
    left: 0px; 
    margin: 0 auto; 
    height: 360px; 
    width: 640px;
    z-index : 5;
    visibility: hidden; 
}